.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.fade-in {
  opacity: 1;
}
.fade-out {
  opacity: 0;
}

.modal-content {
  background: rgba(255, 255, 255, 0.267);
  backdrop-filter: blur(12px);
  padding: 15px 30px;
  border-radius: 20px;
  min-width: 550px;
  min-height: 450px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  transform: scale(0.8);
  transition: transform 0.3s ease-in-out;
  display: grid;
  flex-direction: column;
  grid-template-rows: 10% 10% 80%;
}
.scale-in {
  transform: scale(1);
}
.scale-out {
  transform: scale(0.8);
}

.close-icon {
    display: flex;
    align-items: center;
    justify-content: end;
}
.txt {
    direction: rtl;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
.txt h4 {
  display: flex;
  column-gap: 3px;
  color: #FFF;
}
.txt p {
  display: flex;
  align-items: center;
  font-family: "Peyda-Medium";
  color: #d9d9d94d;
  font-size: 0.7vw;
  padding-top: 8px;
}

.inputs form {
  display: grid;
  grid-template-rows: 25% 60%;
}
.inputs form .first-input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputs form .first-input input {
  width: 100%;
  height: 80%;
  border: none;
  outline: none;
  direction: rtl;
  font-size: 1vw;
  padding: 0 20px;
  border-radius: 8px;
  background: #d9d9d946;
  color: #FFF;
}
.rest-of-form {
  display: grid;
  flex-direction: row;
  grid-template-columns: 35% 65%;
}
.img-picker {
  height: 100%;
}
.rest-of-fort2 {
  height: 100%;
}

.img-picker {
  display: flex;
  align-items: center;
  justify-content: center;
}
.the-picker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #d9d9d946;
  border-radius: 8px;
  position: relative;
}
.the-picker p {
  font-family: "Peyda-Bold";
  font-size: 0.7vw;
  margin-bottom: 5px;
  color: #d9d9d975;
}
.picker-text {
  opacity: 1;
  transition: opacity 0.3s ease;
}
.picker-text.hide {
  opacity: 0;
}
.the-picker .pin-img {
  width: 1.8vw;
  background: #d9d9d991;
  padding: 8px;
  border-radius: 5px;
}
.preview-keeper {
  width: 100%;
  height: 100%;
  background: #d9d9d946;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.preview-keeper.show {
  opacity: 1;
}
.img-preview {
  width: 100%;
  max-height: 100%;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.img-preview.show {
  opacity: 1;
  transform: scale(1);
}