.modal-container-ms {
  width: 100%;
  height: 27vw;
  display: grid;
  grid-template-rows: 10% 10% 75%;
  transition: opacity 0.3s ease-in-out;
}
.fade-in {
  opacity: 1;
}
.fade-out {
  opacity: 0;
}
.txt-ms {
    direction: rtl;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}
.txt-ms p {
  display: flex;
  align-items: center;
  column-gap: 3px;
  color: #FFF;
  font-size: 0.9vw;
  font-family: "Peyda-Bold";
}

.search-input {
    width: 45%;
    height: 60%;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #d9d9d95c;
    padding: 2px 6px;
    color: #fff;
    font-family: "Peyda-Medium";
    font-size: 0.8vw;
}
.search-input::placeholder {
   color: #d9d9d965;
   font-family: "Peyda-Medium";
}

.m-list {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    direction: rtl;
}
.m-list::-webkit-scrollbar {
  background: transparent;
}
.m-list::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: content-box;
}
.m-list::-webkit-scrollbar-button {
  display: none;
}
.ml-scroll {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.7vw;
}
.users {
    width: 100%;
    height: 3.4vw;
    background: #d9d9d95b;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 12% 73% 15%;
}
.user-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-img {
  width: 3.2vw;
  height: 3vw;
  border-radius: 5px;
  margin-left: 0.3vw;
  user-select: none;
}
.user-information {
  display: grid;
  grid-template-columns: 35% 65%;
  align-items: center;
  margin-right: 0.2vw;
}
.user-name-id {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.member-name {
  font-family: "Peyda-Bold";
  color: #fff;
  font-size: 0.9vw;
}
.member-username {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.6vw;
  color: #d9d9d994;
}
.user-role-color-golden {
  width: 0.6vw;
  height: 0.6vw;
  background: #de8900bb;
  border-radius: 50%;
}
.user-role-color-blue {
  width: 0.6vw;
  height: 0.6vw;
  background: #00a2ff91;
  border-radius: 50%;
}
.user-skills {

}
.delete-user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-user-img {
  background: #d9d9d986;
  width: 4.6vw;
  height: 3vw;
  border-radius: 5px;
  padding: 0.8vw;
  user-select: none;
  overflow: hidden;
}
.centerize2 {
  display: flex;
  justify-content: center;
  align-items: center;
}