.modal-container-s {
  background: #ffffff44;
  backdrop-filter: blur(12px);
  padding: 1vw 2.8vw;
  border-radius: 20px;
  width: 40vw;
  height: 29vw;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  display: grid;
  grid-template-rows: 10% 10% 80%;
  transition: opacity 0.3s ease-in-out;
}
.fade-in {
  opacity: 1;
}
.fade-out {
  opacity: 0;
}

.back-container {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: -25px;
}
.back-container .back-icon {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  user-select: none;
}
.back-container .back-icon .back-icon-style {
    width: 1.3vw;
    transform: rotateZ(-90deg);
}

.txt h4 .pencil-icon {
    width: 1vw;
}