.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease-in-out;
}

.modal-content {
  padding: 1vw 2.8vw;
  border-radius: 20px;
  width: 40vw;
  height: 29vw;
  box-shadow: 0px 0px 35.6px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-rows: 10% 10% 80%;
  transition: opacity 0.3s ease-in-out ,transform 0.3s ease-in-out;
  transform: scale(0.7);
  background: linear-gradient(0deg, rgba(217, 217, 217, 0.26), rgba(217, 217, 217, 0.26)), rgba(42, 38, 112, 0.15);
  backdrop-filter: blur(47.3104px);
}
.show {
  opacity: 1;
  transform: scale(1);
}
.unshow {
  opacity: 0;
  transform: scale(0.7);
}