@font-face {
    font-family: "Kinetika-Bold";
    src: url("../../Fonts/Kinetika-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Peyda-Bold";
    src: url("../../Fonts/Peyda-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Peyda-Medium";
    src: url("../../Fonts/Peyda-Medium.ttf") format("truetype");
}


.container2 {
    width: 100%;
    height: 100vh;
    background-color: #020022;
    display: flex;
    justify-content: center;
    align-items: start;
    overflow: hidden;
    position: fixed;
}
.content2 {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 6vw;
}

.saying-welcome2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vw;
    user-select: none;
}
.the-main-logo {
    width: 60%;
    margin-bottom: 1vw;
}
.twc2 {
    font-family: "Kinetika-Bold";
    font-size: 2.7vw;
    word-spacing: 0.4vw;
    letter-spacing: 0.7vw;
    color: #FFF;
    margin-bottom: 0.6vw;
}
.togetxt2 {
    font-family: "Peyda-Medium";
    direction: rtl;
    text-align: center;
    color: #D9D9D9;
    opacity: 37%;
    font-size: 1.3vw;
    margin-bottom: 2vw;
}


.pages {
    width: 70vw;
    max-width: 70vw;
    height: 12vw;
    max-height: 350px;
}
.pages .scroll {
    width: auto;
    height: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(12vw, 1fr);
    gap: 1.7vw;
    scroll-behavior: smooth;
}
.pages .scroll .sections, .custom-section {
    height: 12vw;
    border-radius: 20px;
    border: solid 3px #d9d9d95e;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    padding: 1.5vw 0;
    user-select: none;
    position: relative;
}
.section-img {
    margin: 0 auto;
    width: 3vw;
    margin-bottom: 0.5vw;
}
.section-h3 {
    color: #FFF;
    font-size: 0.85vw;
    margin-bottom: 8px;
}
.section-p {
    font-size: 0.45vw;
    color: #d9d9d950;
    word-spacing: 5px;
    letter-spacing: 3px;
    margin-bottom: 0.8vw;
}
.pages .scroll div .enter-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-height: 2vw;
    text-wrap: nowrap;
    position: absolute;
    left: calc(50% - 80%/2);
    bottom: 1vw;
}
.enter-section-img {
   width: 1.1vw;
   margin: 0;
   padding: 0;
}

.enter-section {
    width: 80%;
    font-family: "Peyda-Bold";
    padding: 8px 2.5vw;
    min-height: 2vw;
    border: none;
    border-radius: 5px;
    background-color: #d9d9d949;
    color: #FFF;
    font-size: 0.7vw;
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 6px 7px 40px -4px rgba(0, 0, 0, 0.2);
}

.home-setting {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    margin-top: 1.5vw;
    margin-bottom: 1.5vw;
}
.btn3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Peyda-Bold";
    padding: 0.1vw 0.3vw;
    border: solid 3px #d9d9d95e;
    border-radius: 15px;
    background-color: transparent;
    color: #FFF;
    font-size: 0.7vw;
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 6px 7px 40px -4px rgba(0, 0, 0, 0.2);
}
.btn3 span {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    animation: ripple 1s;
    opacity: 0;
}
@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(10);
    }
}

.online-users {
    width: 65vw;
    max-width: 1300px;
    height: 13vw;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-left: solid 3px #d9d9d95e;
    border-right: solid 3px #d9d9d95e;
    border-top: solid 3px #d9d9d95e;
    padding: 20px 40px;
    display: grid;
    grid-template-rows: 30% 70%;
    user-select: none;
}
.on-text {
    text-align: center;
}
.online-per {
    font-family: "Peyda-Bold";
    color: #FFF;
    font-size: 0.8vw;
    margin-bottom: 3px;
}
.online-en {
    font-family: "Peyda-Medium";
    color: #d9d9d950;
    font-size: 0.4vw;
    word-spacing: 4px;
    letter-spacing: 4px;
    margin-bottom: 17px;
}
.online-users .scroll-keeper {
    width: 60vw;
    max-width: 60vw;
}
.online-users .scroll2 {
    width: 100%;
    height: auto;
    max-height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.2vw;
    column-gap: 1.5vw;
    overflow-y: auto;
    justify-content: start;
    align-content: start;
}
.online-users .scroll2 div{
    height: 2.8vw;
    border-radius: 15px;
    border: solid 0.2vw #d9d9d950;
    display: grid;
    grid-template-columns: 44.5% 44.5% 10%;
    align-items: center;
}
.online-users .scroll2 div img {
    width: 100%;
    border-radius: 10px;
}
.online-users .scroll2 div p:first-of-type {
    font-family: "Peyda-Medium";
    font-size: 0.8vw;
    background-color: #d9d9d950;
    color: #FFF;
    width: 95%;
    height: 80%;
    margin: 0.3vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.online-users .scroll2 div p:last-of-type {
    font-family: "Peyda-Bold";
    font-size: 0.8vw;
    background-color: #d9d9d950;
    color: #FFF;
    width: 95%;
    height: 80%;
    margin: 0.2vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    text-wrap: nowrap;
}