@font-face {
    font-family: "Kinetika-Bold";
    src: url("../../Fonts/Kinetika-Bold.ttf"), format("true type font");
}
@font-face {
    font-family: "Peyda-Bold";
    src: url("../../Fonts/Peyda-Bold.ttf"), format("true type font");
}
@font-face {
    font-family: "Peyda-Medium";
    src: url("../../Fonts/Peyda-Medium.ttf"), format("true type font");
}



.container {
    width: 100%;
    height: 100vh;
    background-color: #020022;
    display: flex;
    justify-content: center;
    align-items: start;
}
.content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7vw;
}
.content .asma-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .asma-logo img {
    width: 70%;
    margin-bottom: 1.5vw;
}

.welcome-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5vw;
}
.twc {
    font-family: "Kinetika-Bold";
    font-size: 2.7vw;
    word-spacing: 0.4vw;
    letter-spacing: 0.7vw;
    color: #FFF;
    margin-bottom: 0.6vw;
}
.togetxt {
    font-family: "Peyda-Medium";
    direction: rtl;
    text-align: center;
    color: #D9D9D9;
    opacity: 27%;
    font-size: 1vw;
    font-weight: bold;
}


.form-keeper {
    width: 65%;
    height: 400px;
    max-height: 400px;
    border: solid 2px rgba(217, 217, 217, 0.3);
    border-radius: 1.2vw;
    padding: 1vw 2.2vw;
}
form {
    width: 100%;
    height: 100%;
}
.txt-inputs {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6vw;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #FFF !important;
  transition: background-color 5000s ease-in-out 0s;
}
.in {
    font-family: "Peyda-Bold";
    direction: rtl;
    width: 95%;
    height: 95%;
    background-color: #d9d9d93b;
    border-radius: 0.5vw;
    border: 0;
    outline: 0;
    font-size: 1vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw; 
    color: #fff;
}
.submit {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.btn {
    font-family: "Peyda-Bold";
    padding: 1.1vw 4.8vw;
    border: none;
    border-radius: 0.3vw;
    background-color: #d9d9d99a;
    color: #FFF;
    font-size: 1vw;
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 6px 7px 40px -4px rgba(0, 0, 0, 0.2);
}
.btn span {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    animation: ripple 1s;
    opacity: 0;
}
@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
    }

    to {
        opacity: 0;
        transform: scale(10);
    }
}
.sub-txt {
    font-family: "Peyda-Medium";
    direction: rtl;
    text-align: center;
    color: #D9D9D9;
    opacity: 27%;
    font-size: 1vw;
    margin-top: 0.5vw;
}