.ripple-effect-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 0;
  border-radius: 5px;
}

.ripple-effect-container .ripple {
  position: absolute;
  width: 180px;
  height: 180px;
  margin: -90px 0 0 -90px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  animation: ripple 0.6s ease-out;
  pointer-events: none;
  transform: translateZ(0);
  backface-visibility: hidden;
  will-change: transform, opacity;
}

@keyframes ripple {
  from {
    transform: scale(0);
    opacity: 1;
  }
  to {
    transform: scale(1.5);
    opacity: 0;
  }
}
